  html {
      box-sizing: border-box;
      font-size: 62.5%;
      line-height: 1.4;
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }

  body {
      font-family: 'Open Sans', sans-serif;
      background-color: #ffffff;
      background-blend-mode: normal;
  }

  :root {
      --color-uno: #DBB499;
      --color-dos: #3F567B;
      --color-tres: #DAD099;
      --color-cuatro: #656F7E;
      --color-cinco: #DFE599;
      --color-seis: #b9afa1;
      --color-siete: #D4BF76;
      --color-ocho: #9E9991;
      --color-nueve: #C8BB8B;
  }

  h1 {
      font-family: 'PT Sans', sans-serif;
      font-size: 4.5rem;
      margin: 0;
  }

  h2 {
      font-family: 'Bebas Neue', serif;
      font-size: 6rem;
      text-transform: uppercase;
      border-bottom: 1px solid var(--color-nueve);
  }

  h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.4rem;
      text-transform: uppercase;
  }

  p {
      font-size: 1.8rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
  }

  a {
      font-size: 1.8rem;
      text-decoration: none;
  }

  img {
      width: 100%;
  }

  /*Utilidades*/

  .contenedor {
      width: 98%;
      margin: 0 auto;
  }

  @media (min-width: 480px) {
      .contenedor {
          width: 95%;
      }
  }

  @media (min-width: 768px) {
      .contenedor {
          max-width: 1100px;
          width: 90%;
      }
  }

  @media (min-width: 992px) {
      .contenedor {
          width: 93%;
      }
  }

  .no-margin {
      margin: 0;
  }

  .boton-primario {
      color: var(--color-nueve);
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      border: 1px solid transparent;
      padding: .8rem 2rem;
      margin-right: 2rem;
      transition: .8s;
  }

  .boton-primario:hover {
      color: #ffffff;
      padding: .8rem 2rem;
      border-radius: .25rem;
      border: 1px solid #CBDBEF;
      background-color: rgba(0, 0, 0, 0.1);
  }

  .boton-secundario {
      background-color: #D4BF76;
      color: #000000;
      display: block;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
      border-radius: .5rem;
      border: 1px solid #D4BF76;
      padding: .5rem 5rem;
      -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.66);
      -moz-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.66);
      box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.66);
      transition: .8s;
  }

  @media (min-width: 768px) {
      .boton-secundario {
          display: inline-block;
      }
  }

  .boton-secundario:hover {
      border: 1px solid #C8BB8B;
      box-shadow: none;
  }

  div.separador {
      background-color: #ffffff;
      width: 40%;
      height: 1px;
      margin: 0 auto;
  }

    .parallax::before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      -webkit-filter: brightness(0.8);
      filter: brightness(0.4);
  }

  /*Header*/

  section.navegacion-principal {
      height: 100vh;
      min-height: 60rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      -webkit-box-shadow: 0px 9px 14px 0px rgba(50, 50, 50, 0.71);
      -moz-box-shadow: 0px 9px 14px 0px rgba(50, 50, 50, 0.71);
      box-shadow: 0px 9px 14px 0px rgba(50, 50, 50, 0.71);
  }

  section.navegacion-principal::before {
      background-image: url(../img/fondo.jpg);
      content: '';
  }


  div.barra {
      position: relative;
  }

  div.barra-responsive {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  div.barra-responsive a.barras {
      color: #ffffff;
      font-size: 4.3rem;
      margin: 0 1.5rem;
  }

  div.barra-responsive a.barras:hover {
      cursor: pointer;
  }

  div.barra-responsive a.logo {
      margin-top: 2rem;
      width: 40%;
  }

  @media (min-width: 768px) {
      div.barra {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
      }

      div.barra-responsive {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      div.barra-responsive a.barras {
          display: none;
      }

      div.barra-responsive a.barras:hover {
          cursor: pointer;
      }

      div.barra-responsive a.logo img {
          width: 120%;
      }
  }

  nav.navegacion {
      text-align: center;
      display: none;
      background: none;
      box-shadow: none;

  }

  nav.navegacion a {
      display: block;
      line-height: 4rem;
  }

  @media (min-width: 768px) {
      nav.navegacion {
          flex: 1 1 calc(60%);
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: none;
      }

      nav.navegacion a {
          flex: 1 1 calc(33.3%);
          padding: 0 2rem;
          line-height: 2rem;
      }

      nav.navegacion a:last-of-type {
          margin-right: 0;
      }
  }

  div.texto-header {
      position: relative;
  }

  div.texto-header h2 {
      font-size: 3.2rem;
      font-family: 'PT Sans', sans-serif;
      font-style: italic;
      color: var(--color-tres);
      text-align: right;
  }

  @media (min-width: 768px) {
      div.texto-header h2 {
          font-size: 4.5rem;
      }
  }

  div.texto-header p {
      font-size: 2.1rem;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      color: var(--color-siete);
      text-align: right;
  }

  @media (min-width: 768px) {
      div.texto-header p {
          font-size: 3rem;
      }
  }

  /*Sección Nosotros*/

  section.seccion-nosotros {
      margin-top: 3rem;
      text-align: center;
  }


  section.seccion-nosotros h1 {
      font-family: 'Bebas Neue', serif;
      font-weight: 400;
      font-size: 8rem;
      color: var(--color-nueve);
      text-transform: Uppercase;
      margin: 7rem auto 5rem auto;
  }

  section.seccion-nosotros img.flor {
      width: 15%;
      margin: 0 auto;
  }

  div.texto-nosotros {
      margin: 4rem 0 0 0;
  }

  div.texto-nosotros p {
      font-family: 'Montserrat', serif;
      font-weight: 500;
      padding: 1rem 3rem;
      line-height: 4rem;
      color: var(--color-dos);
  }

  div.texto-nosotros p.frase{
      font-size: 3rem;
  }

  div.texto-nosotros p span {
      font-weight: bold;
      font-style: italic;
      color: var(--color-cuatro);
  }


  div.imagen-nosotros {
      width: 70%;
      -webkit-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      margin: 2rem auto;
      overflow: hidden;
  }

  div.imagen-nosotros img {
      -webkit-transition: all .5s ease-in-out;
  }

  div.imagen-nosotros img:hover {
      transform: scale(1.1);
  }

  @media (min-width: 768px) {
      div.imagen-nosotros {
          width: 60%;
      }
  }

  div.variante p {
      font-family: 'PT Sans', serif;
      font-style: italic;
      font-weight: 600;
      color: var(--color-ocho);
  }

  @media (min-width: 768px) {
      div.variante p {
          padding: 2rem 7rem;
          line-height: 4rem;
      }
  }

  /*Sección Principal Servicios Index*/
  main.principal-index {
      height: auto;
      margin-top: 3rem;
      padding: 3rem;
      -webkit-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      text-align: center;
  }

  main.principal-index h2 {
      text-align: center;
      font-family: 'Bebas Neue', serif;
      font-size: 6rem;
      font-weight: 500;
      font-style: normal;
      border: none;
      margin: 2rem auto;
      color: var(--color-nueve);
  }

  @media (min-width: 768px) {
      main.principal-index h2 {
          margin-bottom: 3rem;
      }
  }

  main.principal-index a {
      margin: 4rem;
      background-color: var(--color-siete);
      border: none;
  }

  main.principal-index a:hover {
      background-color: var(--color-cuatro);
      border: none;
  }

  div.servicio-index {
      flex: 1 1 calc(33.3% - 1rem);
      text-align: center;
      margin: 1rem auto;
      padding: 2rem;
      border-radius: 2.5rem;
      border: 1px solid var(--color-seis);
      text-align: center;
      -webkit-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.9);
      -moz-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.9);
      box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.9);
  }

  @media (min-width: 768px) {
      div.tabla-servicios {
          display: flex;
      }

      div.servicio-index {
          margin-right: 2rem;
      }

      div.servicio-index:last-of-type {
          margin-right: 0
      }
  }

  div.servicio-index h3 {
      font-family: 'Montserrat', serif;
      font-weight: 600;
      font-size: 1.8rem;
      color: var(--color-dos);
  }

  div.servicio-index img.icon-serv{
      padding-top: 1rem;
      width: 40%;
      margin: 0 auto;
  }


  div.servicio-index p {
      font-family: 'Montserrat', serif;
      font-size: 1.5rem;
      color: var(--color-cuatro);
      padding-bottom: 3rem;
      text-align: left;
  }


  /*Seccion Principal Servicios Interno*/

  main.seccion-principal {
      background-color: var(--color-nueve);
      height: auto;
      margin-top: 3rem;
      padding: 3rem;
      -webkit-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      text-align: center;
  }

  main.seccion-principal h2 {
      text-align: center;
      font-weight: 400;
      font-size: 6rem;
      margin: 2rem auto;
      color:var(--color-dos);
  }

  @media (min-width: 768px) {
      main.seccion-principal h2 {
          margin-bottom: 3rem;
      }
  }

  main.seccion-principal a {
      margin: 4rem;
      background-color: var(--color-siete);
      border: none;
  }

  main.seccion-principal a:hover {
      background-color: var(--color-cuatro);
      border: none;
  }

  div.servicio {
      flex: 1 1 calc(33.3% - 1rem);
      text-align: center;
      margin: 1rem auto;
      padding: 2rem;
      border-radius: .5rem;
      border: 1px solid var(--color-seis);
      text-align: center;
      -webkit-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 3px 2px 9px 0px rgba(50, 50, 50, 0.75);
  }

  @media (min-width: 768px) {
      div.servicio {
          margin-right: 2rem;
      }

      div.servicio:last-of-type {
          margin-right: 0
      }
  }

  div.servicio h3 {
      font-size: 2rem;
      color: var(--color-dos);
  }

  div.servicio i {
      color: var(--color-dos);
      font-size: 7rem;
  }


  div.servicio p {
      font-family: 'Libre Baskerville', serif;
      color: var(--color-dos);
  }

  /* Mapa */

  section.contenedor-mapa {
      text-align: center;
      margin: 3rem auto;
      padding: 4rem;
  }

  @media (min-width: 768px) {
      section.contenedor-mapa {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      div.texto-mapa {
          flex: 1 1 calc(60% - 1rem);
          margin-right: 4rem;
      }

      div.mapa {
          flex: 1 1 calc(40% - 1rem);
      }
  }

  div.texto-mapa h2 {
      color: var(--color-dos);
      font-weight: 400;
      font-size:5rem;
      border-bottom: 1px solid var(--color-cuatro);
  }

  div.texto-mapa p {
     
      font-family:'Montserrat', serif;
      color: var(--color-seis);
      line-height: 3rem;
  }

  div.texto-mapa p:last-of-type {
      font-family: 'Libre Baskerville', serif;
      color: var(--color-siete);
      line-height: 3rem;
  }

  @media (min-width: 768px) {
      div.texto-mapa p {
          line-height: 4rem;
      }
  }

  /*Info Covid*/

  section.info-covid {
      background-color: var(--color-dos);
      -webkit-box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 1);
      -moz-box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 1);
      box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 1);
  }

  div.texto-covid {
      text-align: center;
      padding: 5rem;
  }

  div.texto-covid h2 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 6rem;
      font-weight: 600;
      text-align: center;
      margin: 0 auto;
      border-bottom: none;
      color: #ffffff;
  }

  @media (min-width: 768px) {
    div.texto-covid h2{
      font-size: 7rem;
    }
  }

  div.texto-covid i {
      font-size: 8rem;
      margin: 2rem auto;
      color: #229954;
  }

  div.texto-covid p {
      color: #ffffff;
      line-height: 5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: extralight;
  }



  /*Galería*/

  section.galeria-index {
      padding: 2rem;
      background-color: var(--color-nueve);
      text-align: center;

  }

  section.galeria-index h2 {
      text-align: center;
      color: var(--color-dos);
      font-weight: 400;
      font-size: 5rem;
      margin: 3rem auto 3rem auto;
      border: none;
  }

  section.galeria-index i {
      margin-left: 2rem;
      font-size: 4rem;
      color: #ffffff;
  }

  section.galeria-index a:hover {
      background-color: var(--color-seis);
  }

  div.galeria {
      margin: 5rem auto;
      padding: 2rem 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      row-gap: 3rem;
  }

  div.galeria a {
      overflow: hidden;
      transition: 1s;
  }

  div.galeria-texto {
      text-align: center;
  }

  div.galeria-texto p {
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      text-align: center;
      font-weight: 400;
      font-size: 2rem;
      line-height: 5rem;
      margin: 5rem auto;
      color: var(--color-dos);
  }

  div.galeria-texto p span {
      color: #000000;
  }

  div.galeria-texto a {
      margin-bottom: 5rem;
  }

  div.galeria-flex {
      text-align: center;
      margin: 3rem 0;
      padding: 1.5rem;
      border-radius: .5rem;
      border: 1px solid linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
      transition: all .4s ease;
  }

  @media (min-width: 768px) {
      div.galeria-flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1 1 calc(33.3% - 3rem);
      }
  }

  /* Galería Principal*/

  section.galeria-principal h1 {
      text-align: center;
      color: var(--color-nueve);
      border-bottom: 1px solid #C8BB8B;
      font-family: 'Bebas Neue', serif;
      font-size: 7rem;
      font-weight: 400;
      text-transform: Uppercase;
  }

  div.galeria-interna {
      padding: 2rem 3rem;
      display: grid;
      column-gap: 2rem;
      row-gap: 3rem;
  }

  div.galeria-interna img {
      box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
      border-radius: 15px;
      width: 300px;
      height: 300px;
      object-fit: cover;
      filter: brightness(70%);
      cursor: pointer;
      animation: escalar 1.5s infinite alternate;
  }

  @keyframes escalar {
      to {
          transform: scale(1);
      }

      from {
          transform: scale(1.05);
      }
  }

  div.galeria-interna img:hover {
      filter: brightness(100%);
  }

  @media (min-width: 768px) {
      div.galeria-interna {
          grid-template-columns: repeat(3, 1fr);
      }
  }

  div.galeria-texto a:hover{
    background-color: var(--color-nueve);
    border: 1px solid var(--color-dos);
  }

  /*Contacto*/

  section.contacto {
      margin: 0;
      position: relative;
      height: auto;
      display: flex;
      -webkit-box-shadow: 1px 9px 26px 0px rgba(50, 50, 50, 0.71);
      -moz-box-shadow: 1px 9px 26px 0px rgba(50, 50, 50, 0.71);
      box-shadow: 1px 9px 26px 0px rgba(50, 50, 50, 0.71);
  }

  @media (min-width: 768px) {
      section.contacto {
          height: 50rem;
      }
  }

  section.contacto::before {
      background-image: url(../img/abuelos.jpg);
      content: '';
  }



  div.tabla-contactos {
      text-align: center;
      padding: 4rem 0;
      position: relative;
      flex: 1;
  }

  @media (min-width: 768px) {
      div.tabla-contactos {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      div.icono-contacto {
          margin: 0 auto;
          flex: 1 1 calc(33.3% - 2rem);
      }
  }

  div.icono-contacto {
      transition: .4s;
      padding: 7rem 0;
  }

  div.icono-contacto i {
      font-size: 6rem;
      color: var(--color-tres);
      transition: all 1s ease;
  }

  div.icono-contacto i:hover {
      transform: scale(1.5);
  }

  div.icono-contacto p {
      margin-bottom: 3rem;
      font-size: 2.5rem;
      color: var(--color-tres);
  }

  /*Botón WhatsApp */

  #whatsapp a{
      position: fixed;
      /* posicion del elemento fija */
      top: 81%;
      /* en que posicion se encuentra */
      left: 1%;
      text-decoration: none;
  }

    #whatsapp a i{
      position: fixed;
      /* posicion del elemento fija */
      top: 81%;
      /* en que posicion se encuentra */
      left: 1%;
      text-decoration: none;
      font-size: 5rem;
  }

  #whatsapp a p {
      display: none;
      background-color: var(--color-dos);
      position: fixed;
      top: 78%;
      left: 5%;
      padding: 2rem;
      border-radius: 0 1rem 1rem 0;
      font-family: "Montserrat", serif;
      font-weight: 700;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      display: none;
  }
  @media (min-width: 768px) {
      #whatsapp a p {
          display: inline-block;
      }
  }

  /* Footer */

  footer {
      background: var(--color-nueve);
      height: auto;
      text-align: center;
  }

  div.minimapa i {
      width: 50%;
  }

  @media(min-width: 768px) {
      div.footer-contenido {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 3rem;
      }

      div.informacion {
          padding: 2rem;
          Flex: 1 1 calc(50% - 2 rem);
      }

      div.minimapa {
          padding: 2rem;
          Flex: 1 1 calc(50% - 2 rem);
      }
  }


  div.informacion {
      text-align: left;
  }

  div.informacion p {
      color: #ffffff;
      font-weight: 400;
      font-family: 'Bebas Neue', serif;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: left;
  }

  div.informacion p span {
      font-size: 2.5rem;
      color: #ffffff;
      font-weight: 500;
      font-family: 'Montserrat', serif;
      font-size: 2rem;
      font-style: italic;
      text-align: center;
      text-transform: none;
  }

  .footer2 {
      background: var(--color-dos);
      height: 5rem;
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
  }

  div.footer-contenido {
      padding-top: 3rem;
  }

  p.copyright {
      margin: 0;
      font-weight: extralight;
      font-family: 'Montserrat', serif;
      color:#ffffff;
  }


  /*Paginas Internas*/
  /*Navegación Interna*/

  section.barra-interna {
      background-color: #353535;

  }

  /*Galeria Interna*/

  @media (min-width: 768px) {
      div.galeria-interna {
          grid-template-columns: repeat(3, 1fr);
      }
  }

  /*Servicios Internos*/

  main.servicios-internos h2 {
      text-align: center;
      color: var(--color-dos);
      font-weight: 400;
  }

  div.servicio-unico {
      background-color: #ffffff;
      text-align: center;
      border: 1px solid #f1f1f1;
      margin: 3rem auto;
      padding: 2rem 0;
      -webkit-box-shadow: 5px 3px 16px 0px rgba(50, 50, 50, 1);
      -moz-box-shadow: 5px 3px 16px 0px rgba(50, 50, 50, 1);
      box-shadow: 5px 3px 16px 0px rgba(50, 50, 50, 1);
  }

  div.servicio-unico h3 {
      font-family: 'Libre Baskerville', serif;
      font-weight: 700;
      color: var(--color-cuatro);
  }

  div.servicio-unico i {
      font-size: 8rem;
      color: var(--color-nueve);
  }

  div.servicio-unico ul {
      text-align: left;
      padding: 3rem;
  }

  div.servicio-unico ul li {
      font-size: 2rem;
      line-height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--color-seis);
      border-radius: .8rem;
      padding: 1.5rem;
      margin-top: 2rem;
      transition: 1s all ease;

  }

  div.servicio-unico ul li:hover {
      transform: scale(1.1);
      border: 1px solid #E74C3C;
  }


  div.servicio-unico ul li p {
      color: var(--color-ocho);
      flex: 1 1 calc(90%);
  }

  div.servicio-unico ul li i {
      margin: 2rem auto;
      padding: 0 4rem;
      font-size: 5rem;
      text-align: right;
      flex: 1 1 calc(10%);
      color: #273746;
  }

  /*Navegación Interna*/

  section.barra-interna {
      background-color: var(--color-dos);
  }

  /* Iconos Font Awesome */

  .fa-map-marker-alt {
      color: #EA4335;
  }

  /*Nosotros*/

  main.nosotros-interno {
      height: auto;
      margin-bottom: 5rem;
  }

  section.seccion-casa {
      background-color: #f1f1f1;
      margin-bottom: 4rem;
      height: auto;
      border-radius: .4rem;
      -webkit-box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 1);
      -moz-box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 1);
      box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 1);
  }

  section.seccion-casa h2 {
      text-align: center;
      padding: 2rem 0;
      color: var(--color-dos);
  }

  @media (min-width: 768px) {
      div.nosotros-flex {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
      }
  }

  div.casa-data {
      margin-right: 3rem;
      flex-basis:calc(100%);
  }

  div.casa-data p{
      font-family: 'Libre Baskerville',serif;
      font-size: 2rem;

  }


  div.casa-data ul li{
      list-style: none;
      line-height: 4rem;
      font-size: 2.2rem;
      font-family:'Montserrat', serif;
      color: var(--color-dos);

  }

  div.imagenes{
    flex-basis:calc(100%);
  }

  div.imagenes img {
      margin-bottom: 2rem;
      -webkit-transition: all .4s ease-in-out;
  }

  div.imagenes img:hover {
      -webkit-transform: scale(1.1);
  }

  section.cita-container {
      margin-top: 5rem;
      background-color:var(--color-dos);
      height: auto;
  }

  div.cita {
      padding: 5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
  }

  div.cita i {
      font-size: 8rem;
      color: #ffffff;
  }

  div.cita blockquote {
      font-size: 4rem;
      font-weight: 700;
      line-height: 6rem;
      color: #ffffff;
      text-align: center;
  }